.sidebar {
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}
.sidebar-header {
  color: #000;
  margin: 0;
}
.sidebar-item-header {
  color: #000;
  margin: 0px 10%;
  border-bottom: 1px solid #000;
  text-align: center;
  padding-bottom: 0.8rem;
  font-weight: normal;
}
.sidebar-item-list {
  padding: 0.5rem 1rem;
}
